.khung{
    width: 1120px;
    height:380px;
}

.khoisanpham{
    width:270px;
    height:380px;
    float:left;
    margin-right: 15px;
    margin-top: 15px;
}

.anh{
    width: 270px;
    height:325px;
    position: relative;
    z-index: 0;
}

.layer1{
    position: absolute;
    top:0px;
    left:0px;
    z-index: 0;
}
.icon{
    position: relative;
    background-color:rgb(231, 225, 225);
    z-index: 1; 
    opacity: 0;
}
.icon .icon1{
    position: absolute;
    top:140px;
    left:80px;
    width:35px;
    height:35px;
    background-color: rgb(226, 223, 223);
}

.icon .icon2{
    position: absolute;
    top:140px;
    left:115px;
    width:35px;
    height:35px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(226, 223, 223);
}

.icon .icon3{
    position: absolute;
    top:140px;
    left:155px;
    width:35px;
    height:35px;
    margin-left: 7px;
    background-color: rgb(226, 223, 223);
}


.icon1 i{
    font-size: 20px;
    padding:10px;

}

.icon2 i{
    font-size: 20px;
    padding:10px;

}

.icon3 i{
    font-size: 20px;
    padding:10px;

}
.icon1 i:hover{
    background-color: rgb(248, 248, 106);
    color: white;
}

.icon2 i:hover{
    background-color: rgb(248, 248, 106);
    color: white;
}

.icon3 i:hover{
    background-color: rgb(248, 248, 106);
    color: white;
}

.khoisanpham:hover .icon{
opacity: 1;
transition: 0.5s;
}


.tieude{
    font-size: 18px;
    font-style: inherit;
    margin-top: 10px;
    text-align: center;
    left:85px;
    right:85px;
}

.duoi{
    font-size: 18px;
    font-style: inherit;
    margin-top: 5px;
    text-align: center;
    left:85px;
    right:85px;
    
}